{% extends 'all-watch/base.html' %}
{% load bootstrap4 %]
{% load static %}

{% block styles%}
    {{block.super}}
    <link rel="stylesheet" href="{% static 'css/home.css'%}">
{% endblock %}
{% block content %}
{{block.super}}

<div class="container">
    <div class="container">
        <br/>
        <div class="row justify-content-center">
                            <div class="col-12 col-md-10 col-lg-8" style="padding-bottom: 20px;">
                                <form class="card card-sm" action="{% url 'search_results' %}" role="search">
                                    <div class="card-body row no-gutters align-items-center">
                                        <div class="col-auto">
                                            <i class="fa fa-search h4 text-body"></i>
                                        </div>
                                        <!--end of col-->
                                        <div class="col">
                                            <input class="form-control form-control-lg form-control-borderless" type="search" placeholder="Search for business" name="name">
                                        </div>
                                        <!--end of col-->
                                        <div class="col-auto">
                                            <button class="btn btn-lg btn-success" type="submit">Search</button>
                                        </div>
                                        <!--end of col-->
                                    </div>
                                </form>
                            </div>
                            <!--end of col-->
                        </div>
    </div>
    {% for business in businesses %}
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
            <h5 class="card-title">{{business.name}}</h5>
            <p class="card-text">Owned by {{business.owner}}</p><br />
            <p class="card-text">Contact info-> Email: {{business.email}} Phone: {{business.contact}}</p><br />
            </div>
        </div>
    {% endfor %}
</div>


{% endblock %}